<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720099730348-56ddi64d0oss1atg2s5120o45dbe00gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720099730348-56ddi64d0oss1atg2s5120o45dbe00gr</string>
	<key>API_KEY</key>
	<string>AIzaSyC9FGA4aQiOVL_QrGPTxHeYGk2JVboszsw</string>
	<key>GCM_SENDER_ID</key>
	<string>720099730348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinitshah.ReneePrototype</string>
	<key>PROJECT_ID</key>
	<string>reneeprototype</string>
	<key>STORAGE_BUCKET</key>
	<string>reneeprototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720099730348:ios:f3254dcdfc92d259c39009</string>
</dict>
</plist>